*{margin: 0; padding: 0;
font-family: 'Merriweather', serif;}




banner-text{
  text-align: center; color: #fff; padding-top: 180px;}
banner-text h1{
  font-size: 130px;}
banner-text p{
  font-size: 20px; font-style: italic;}

/*Trying to define some sort of menu bar on top of the screen to learn about menus */


/* Add a gold or black background color to the top navigation */
.topnav {
  background-color: #333; /* #d9a871 ;/* black is beautiful too :-) #333;*/
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color:#d9a871; /* or green #04AA6D;*/
  color: white;
}